#triangle{
  width: 0px ;
  height: 0px ;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
}

#forme_ovale_{
  height: 100px ;
  width: 200px ;
  border-radius: 100%;
  background: dodgerblue;

}

#id0{
  text-shadow: 4px 4px 6px gray;
}

#id{
  color: white;
  width: 300px;
  height: 350px;
  padding: 20px;
  border-radius: 10%;
  background: dodgerblue;
  box-shadow: 5px 5px 5px gray;

}
#table{
font-family: arial,sans-serif;
border-collapse: collapse;
width:100%;
}
tr:nth-child(odd){
 background-color: RGB(187, 202, 211) ;
}

tr,td,td{
  border-bottom: 1px solid RGB(187, 202, 211);
  padding: 10px;
}

#td, th{
  color: white;
  text-align: center;
  padding: 15px 20px;
  background-color: dodgerblue;

}
